:root {
--main-cl: #2E2F42;
--slate-cl: #434455;
--iris-cl: #4D5AE5;
--ocean-cl: #404BBF;
--cloud-cl: #F4F4FD;
--white-cl: #FFF;
}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--white-cl);
color: var(--slate-cl);
}

.link {
text-decoration: none;
}

.list {
list-style-type: none;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/*!-----------------------HEADER-----------------------*/

.header-logo {
font-family: Raleway, sans-serif;
color: var(--main-cl);
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
line-height: 1.17;
}

.header-logo-color {
color: var(--iris-cl);
}

.header-menu-link {
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--main-cl);
}

.header-menu-link:hover, .header-menu-link:focus {
color: var(--ocean-cl);
}

.header-address-contact {
font-style: normal;
}

.header-address-link {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--slate-cl);
}

.header-address-link:hover, .header-address-link:focus {
color: var(--ocean-cl);
}

/**-----------------------HERO-----------------------*/

.hero {
background-color: var(--main-cl);
width: 1440px;
height: 600px;
flex-shrink: 0;
}

.hero-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--white-cl);
display: flex;
width: 496px;
flex-direction: column;
flex-shrink: 0;
}

.hero-btn {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
color: var(--white-cl);
cursor: pointer;
border-radius: 4px;
background: var(--iris);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: var(--iris-cl);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--ocean-cl);
}

/*?-----------------------ADVANTAGES-----------------------*/

.advantages-subtitle {
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--main-cl);
}

.advantages-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--slate-cl);
}

/**-----------------------DESCRIPTION-----------------------*/

.description-subtitle {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--main-cl);
}

/*!-----------------------TEAM-----------------------*/

.team {
    background-color: var(--cloud-cl);
}

.team-list {
    background-color: var(--white-cl);
}

.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--main-cl);
}

.team-subtitle {
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em;
text-align: center;
color: var(--main-cl);
}

.team-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
text-align: center;
color: var(--slate-cl);
}

/*?-----------------------FOOTER-----------------------*/

.footer-background {
    background-color: var(--main-cl);
}

.footer-logo {
font-family: Raleway, sans-serif;
color: var(--cloud-cl);
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-color {
    color: var(--iris-cl);
}

.footer-text {
font-family: Roboto;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--cloud-cl);
}

/**-----------------------PORTFOLIO-CATEGORY-----------------------*/

.portfolio-bg {
color: var(--slate-cl);
}

.portfolio-category-list {
list-style: none;
}

.portfolio-category-btn {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.04em;
color: var(--iris-cl);
cursor: pointer;
display: flex;
padding: 12px 24px;
align-items: flex-start;
background-color: var(--cloud-cl);
}

.portfolio-category-btn:hover, .portfolio-category-btn:focus {
color: var(--white-cl);
display: flex;
padding: 12px 24px;
align-items: flex-start;
border-radius: 4px;
background-color: var(--ocean-cl);
}

/*!-----------------------PROJECT-----------------------*/

.project-subtitle {
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--main-cl);

}
.project-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--slate-cl);
}